.title {
    width: 80%;
    margin: auto;
    line-height: 36px;
    padding: 0 5px;
}

.note {
    width: 80%;
    margin: auto;
    padding: 10px 25px;
}

.noteContent h1, .noteContent p {
    margin-bottom: 20px;
}

.noteContent p {
    color: #999;
}

.noteContent pre {
    line-break: anywhere;
    white-space: pre-wrap;
}

.notfound {
    width: 600px;
    margin: auto;
    padding: 100px 50px;
    display: flex;
}

.notfound div:first-child {
    width: 150px;
}

.notfound p {
    margin-bottom: 10px;
}

.notfound h3 {
    margin-bottom: 15px;
}

.notfound ol {
    padding-left: 25px;
}

.notfound :global(.MuiSvgIcon-root) {
    font-size: 96px;
    color: #f6ec94;
}

.accessPassword {
    width: 500px;
    margin: auto;
    padding: 50px 100px;
}

.accessPassword .btnRow {
    text-align: center;
    margin-top: 25px;
}

.accessPassword button {
    width: 300px;
    background-color: #92869f;
}

.accessPassword button:hover {
    background-color: #92869f;
}